<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Old Architecture by Free Css Templates</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://localhost/UD4/Ejercicio3/templates/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1>
                <a href="#">Old Architecture</a>
            </h1>
            <h2>
                <a href="http://www.freecsstemplates.org/">By Free CSS Templates</a>
            </h2>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a href="http://localhost/UD4/Ejercicio3/public/index.php/empleados">Empleados</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="splash">
        <p>
            <em>&ldquo;Quisque dictum integer nisl risus sagittis rutrum id congue and nibh.&rdquo;</em>
        </p>
    </div>
    <div id="page">
        <div id="content">
            <div id="form_container">
                <form method="post" action="http://localhost/UD4/Ejercicio3/public/index.php/addEmp">
                    <div>
                        <h2>New Employee</h2>
                    </div>
                    
                    <label for="EMP_NO">Employee Number</label>
                    <div>
                        <input name="EMP_NO" type="number" value="" />
                    </div>

                    <label for="apellidos">Last Name</label>
                    <div>
                        <input name="apellidos" type="text" maxlength="10" size="10" value="" />
                    </div>

                    <label for="oficio">Job Title</label>
                    <div>
                        <input name="oficio" type="text" maxlength="10" size="10" value="" />
                    </div>

                    <label for="jefe">Manager ID</label>
                    <div>
                        <input name="jefe" type="text" maxlength="5" size="5" value="" />
                    </div>

                    <label for="fechaAlta">Hire Date</label>
                    <div>
                        <input name="fechaAlta" type="date" value="" />
                    </div>

                    <label for="salario">Salary</label>
                    <div>
                        <input name="salario" type="number" max="999999" min="0" value="" />
                    </div>

                    <label for="comision">Commission</label>
                    <div>
                        <input name="comision" type="number" max="999999" min="0" value="" />
                    </div>

                    <label for="deptNo">Department Number</label>
                    <div>
                        <input name="deptNo" type="text" maxlength="5" size="5" value="" />
                    </div>

                    <input type="submit" name="submit" value="Insert" />
                </form>
            </div>
        </div>
        <div id="sidebar">
            <h2>News &amp; Updates</h2>
            <ul>
                <!-- News and updates content -->
            </ul>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div id="footer">
        <p id="legal">Copyright &copy; 2007 Old Architecture. All Rights Reserved. Designed by
            <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
        </p>
        <p id="links">
            <a href="#">Privacy Policy</a>
            |
            <a href="#">Terms of Use</a>
        </p>
    </div>
    <div align="center">This template downloaded from
        <a href='http://all-free-download.com/free-website-templates/'>free website templates</a>
    </div>
</body>

</html>
