<main class="content">
    <section>
        <div class="grid">
            <div class="article">
                <div class='photo'>
                </div>
                <div class="card-footer">
                    <div>
                        <h2 class='card-title'>Lechuga</h2>
                        <h3 class='card-text'>Lechugas frescas del día</h3>
                    </div>
            
                </div>
            </div>

            <div class="article">
                <div class='photo'>
                </div>
                <div class="card-footer">
                    <div>
                        <h2 class='card-title'>Tomate</h2>
                        <h3 class='card-text'>Tomates del Perelló</h3>
                    </div>
            
                </div>
            </div>
            
            <div class="article">
                <div class='photo'>
                </div>
                <div class="card-footer">
                    <div>
                        <h2 class='card-title'>Berenjena</h2>
                        <h3 class='card-text'>Berenjenas de Almagro</h3>
                    </div>
            
                </div>
            </div>

            <div class="article">
                <div class='photo'>
                </div>
                <div class="card-footer">
                    <div>
                        <h2 class='card-title'>Cebolla</h2>
                        <h3 class='card-text'>Cebolla dulce</h3>
                    </div>
            
                </div>
            </div>
            
        </div>
    </section>
</main>