<main class="content">
    <section>
            <div class="grid">
                <app-card [title]="title" [ima]="ima"> </app-card>
                
                <div class="card">
                    <div class="photo">
                        <div class="title">Kiwis</div>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="card">
                    <div class="photo">
                        <div class="title">Manzanas</div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="photo">
                        <div class="title">Peras</div>
                    </div>
                </div>
            </div>
        
    </section>
  
</main>