footer {
  width: 1000px;
  height: 45px; /* Establece una altura fija */
  font-size: 30px;
  margin: auto;
  background-color: cornflowerblue;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}
