body {
  background-color: #212529;
  
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 183, 197, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
  border: 1px solid #ffb7c5;
}

.card {
  margin-top: 20px;
  background-color: #212529;
  border: 2px solid #ffb7c5;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  
}


.btn-custom {
  border: 1px solid #ffb7c5;
  color: #ffb7c5;
  align-items: center;
}

.btn-custom:focus {
    outline: none;
    box-shadow: none;
    

  }
.btn-custom:hover {
  background-color: #ff8fa0; /* Cambiar el tono del color en hover */
  color: #fff;
  border-color: #ff8fa0; /* Puedes ajustar este color según tus preferencias */
}
.card:hover{
    transform: scale(1.02);

}
.card-img-top{
    height: 250px;
}


