body {
    background-image: url('fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
html{
    margin: 0;
    height: 100%
}

header {
    background-color: #042B2C;
    padding: 10px;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 0; /* Eliminamos el margen derecho del logo */
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: #DBA52E;
    margin: 0 5px; /* Reducimos el margen entre los elementos del menú */
    border-radius: 5px;
}


.menu a:hover {
    background-color: #ddddddd5;
    
}

.iconos-derecha img {
    width: 30px;
    margin-right: 10px;
}




footer {
    background-color: #333333;
    color: #E0E0E0;
    padding: 10px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.contact-info, .social-media {
    width: 48%;
    display: inline;
}

.contact-info h2, .social-media h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    max-width: 45%;
}


.copyright {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}


img:hover{
    opacity: 60%;
    
}

a:link {
    color: #DBA52E;
    text-decoration: solid;
  }
  
  /* visited link */
  a:visited {
    color: #996b1e;
  }
  
  /* mouse over link */
  a:hover {
    color: #a76d96;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: #cdfeaa;
    background-color: #265301;
  }
  a:focus {
    text-decoration: underline;
    background-color: #E0E0E0;
  }
  @font-face {
    font-family: 'Lato-Light';
    src: url('fuentes/Lato-Light.woff') format('woff');
    /* Otros estilos si es necesario, como font-weight o font-style */
}

@font-face {
    font-family: 'toms-handwritten-new';
    src: url('fuentes/toms-handwritten-new.woff') format('woff');
    /* Otros estilos si es necesario, como font-weight o font-style */
}
h2,p{
    font-family: "Lato-light";
}
a{
    font-family: 'toms-handwritten-new';
    /* font-size: 30px; */
}
