<div style="margin-top: 30px;">
    <div class="frutas">
        <h4 style="margin-right: 40px;" (click)="clikVegetables()">Verduras</h4>
        <h4 (click)="clikfruits()">Frutas</h4>

    </div>
    @if(select===1){

        <app-photos [imagesArray]=vegetablesImages [type]="select" (modal)="openModal($event)" ></app-photos>
                
 
        
    }@else {
        <app-photos [imagesArray]=fruitsImages [type]="select" (modal)="openModal($event)"></app-photos>
    }
    
    <app-modal [name]="name" [modal]="modal" [photo]="photo" (close)="closeModal($event)"></app-modal>
</div>